* {
  margin: 0;
  padding: 0;
}

.square {
  height: 25px;
  width: 25px;
  background-color: aqua;
  border: 1px solid black;
  display: inline-block;
  float: left;
}

.first {
  /* float: left; */
  clear: left;
}


.white {
  background-color: white;
}

.player-ship {
  background-color: darkgrey;
}

.red {
  background-color: red;
}

.board {
  display: inline-block;
  float: left;
  clear: both;
  margin: 40px 35% 20px;
}
